*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  ion-content{
    --background:#DDDDDD;
  }
  .fab-btn{
    --background:#CA3E47;
    --ion-color-primary-shade: #8c3036;
  }