<ion-header>
  <ion-item lines="none">
    <ion-label style="font-weight: 800;font-size:1.5em;">
    Today
    <p style="Font-weight:400; color:black">{{today | date:'fullDate'}}</p>
    </ion-label>
    <ion-icon name="chevron-back-outline" slot="start" size="medium" (click)="home()" ></ion-icon>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of todoList; let i = index" >
    <ion-card-header>
      <ion-card-subtitle [style.color]="item.itemPriority === 'High' ? 'red' :(item.itemPriority === 'Low' ? 'green' :'orange') ">
        {{item.itemCategory}}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon *ngIf="item.itemPriority === 'High' " color="danger" size ="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.itemPriority === 'Middle' " color="warning" size ="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.itemPriority === 'Low' " color="success" size ="small" name="ellipse"></ion-icon>
        <ion-label>{{item.itemName}}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Due: {{item.itemDueDate |date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>

      <ion-item>
        <ion-icon name="checkmark-outline" (click)="complete()"></ion-icon>
        <p>Complete</p>
      </ion-item>

      <ion-item button (click)="delete()">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Remove</p>
      </ion-item>

    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-btn" (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
