<ion-header>
  <ion-toolbar>FLASH CARD
    <ion-icon name="chevron-back-outline" slot="start" size="large" (click)="dismiss()"></ion-icon>
 </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flip-container" ontouchstart="this.classList.toggle('target');">
    <div class="flipper">
        <div class="front">
          <ion-label class="finput" lines="none">{{frontText}}</ion-label>
        </div>
        
        <div class="back">  
          <ion-label class="binput" lines="none">{{backText}}</ion-label>
        </div>
    </div>
</div>


  <ion-row>
    <ion-textarea  [(ngModel)] ="frontText" placeholder="Question:" rows="2"></ion-textarea>
  </ion-row>
  <ion-row>
    <ion-textarea [(ngModel)] ="backText" placeholder="Answer:" rows="2" ></ion-textarea>
  </ion-row>
  

  
<ion-button  (click)="addCard()" >Add Card</ion-button>

</ion-content>
