*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.front-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.back-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 105px;
}
.delete{
    padding-top: 20px;
    padding-left: 280px;
}
.i-delete{
    font-size: 35px;
}

.fab-btn{
    --background:#444444;
    --ion-color-primary-shade: #504f4f;
}
ion-content{
    --background:#DDDDDD;
  }