.front-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}
.back-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 125px;
}
.delete{
    padding-top: 20px;
    padding-left: 280px;
}
.i-delete{
    font-size: 35px;
}

