<ion-header>
  <ion-toolbar class="head">
    <ion-item lines="none">
      <ion-label style="font-weight: 880;font-size:1.5em; text-align: center; color:black">
        Study Buddy
        <p style="Font-weight:400; color:black">{{today | date:'fullDate'}}</p>
      </ion-label>
      

    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  
    <ion-card class="notes">
      <ion-row>
        <ion-icon name="create"></ion-icon>
        <ion-button [routerLink]="['/home-n']">My Notes</ion-button>
      </ion-row>
    </ion-card>
 
    <ion-card class="to-do">
      <ion-row>
        <ion-icon name="today"></ion-icon>
        <ion-button class="to-do" (click)="todopage()">My To Do List</ion-button>
      </ion-row>
    </ion-card>
 
    <ion-card class="flash">
      <ion-row>
        <ion-icon name="albums"></ion-icon>
        <ion-button [routerLink]="['/cards-home']">My Flashcards</ion-button>
      </ion-row>
    </ion-card>
</ion-content>
